In [1]:
import os
from dotenv import load_dotenv

import pandas as pd
import numpy as np

import pyodbc

from faker import Faker
from faker.providers import internet
import random

load_dotenv()

True

In [6]:
fake = Faker(['pt_BR'])
fake.add_provider(internet)

In [ ]:
# Create a DataFrame with the generated data
columns = [
    'User Name', 'User Mobile Number', 'Pin Code', 'Area Code', 'District', 'State',
    'Country', 'Product Name', 'Product Price', 'Product Discount', 'Mode of Payment',
    'Delivery Date', 'Order Date', 'Refundable Item', 'Price Paid', 'Payment Mode'
]

In [10]:
# Set a random seed for reproducibility
random.seed(42)

# Generate mock data for each column
data = []
for _ in range(1000000):
    user_name = fake.name()
    user_mobile_number = fake.phone_number()
    pin_code = fake.random_int(min=100000, max=999999)
    area_code = fake.random_int(min=100, max=999)
    district = fake.city()
    state = fake.state()
    country = fake.country()
    product_name = fake.word().capitalize()
    product_price = round(random.uniform(10, 1000), 2)
    product_discount = round(random.uniform(0, 50), 2)
    mode_of_payment = random.choice(['Cartão de Crédito', 'Cartão de Débito', 'PayPal'])
    delivery_date = fake.date_between(start_date='-30d', end_date='+30d')
    order_date = fake.date_between(start_date='-60d', end_date='-1d')
    refundable_item = random.choice([True, False])
    price_paid = round(product_price - (product_price * (product_discount / 100)), 2)
    payment_mode = random.choice(['Dinheiro', 'Cartão'])
    
    data.append([
        user_name, user_mobile_number, pin_code, area_code, district, state, country,
        product_name, product_price, product_discount, mode_of_payment, delivery_date,
        order_date, refundable_item, price_paid, payment_mode
    ])

In [11]:

df = pd.DataFrame(data, columns=columns)

In [13]:
df.head(5)

,User Name,User Mobile Number,Pin Code,Area Code,District,State,Country,Product Name,Product Price,Product Discount,Mode of Payment,Delivery Date,Order Date,Refundable Item,Price Paid,Payment Mode
0,Kamilly Martins,61 1971-1147,211586,578,da Rosa das Pedras,Pará,Nepal,Et,643.03,1.25,Cartão de Débito,2023-12-10,2023-09-20,True,634.99,Dinheiro
1,Sra. Evelyn da Costa,+55 (021) 8688 2478,582248,453,Costa,Minas Gerais,Dinamarca,Optio,148.14,5.12,PayPal,2023-12-02,2023-10-14,True,140.56,Cartão
2,Fernanda Silveira,31 9875-2952,421924,504,Souza,Rio de Janeiro,Geórgia do Sul e Sandwich do Sul,Harum,41.46,4.68,Cartão de Crédito,2023-12-04,2023-11-12,True,39.52,Dinheiro
3,Elisa Cardoso,(084) 1317 5738,930468,491,Cardoso,Amapá,Wake Island,Ipsam,718.86,35.07,Cartão de Débito,2023-11-14,2023-10-12,True,466.76,Cartão
4,Catarina Nunes,+55 61 7690-0731,381306,911,Souza,Goiás,Arábia Saudita,Adipisci,593.37,40.47,Cartão de Crédito,2023-10-20,2023-09-19,True,353.23,Cartão

In [17]:
df['State'].value_counts()

State
Pernambuco             37343
Alagoas                37320
Mato Grosso            37284
Tocantins              37276
Piauí                  37263
Rio Grande do Sul      37263
Maranhão               37247
Santa Catarina         37189
Goiás                  37089
Ceará                  37084
Roraima                37082
Sergipe                37056
Mato Grosso do Sul     37047
Acre                   37030
Bahia                  37022
Rio Grande do Norte    37020
Pará                   36977
Paraíba                36927
Amapá                  36895
Distrito Federal       36881
Minas Gerais           36873
Rio de Janeiro         36855
Rondônia               36848
São Paulo              36835
Espírito Santo         36790
Amazonas               36784
Paraná                 36720
Name: count, dtype: int64